@using System.Globalization

<section id="aboutme" class="py-5 section-bg" aria-label="aboutme">
    <div class="about-me">
        
        <div class="profile-top">

            <img src="zack-profile.png" alt="" class="avatar"/>

            <div class="profile-header">

                <h1>@Name</h1>
                <p class="meta">@GenerateAge() years old • @Location</p>

                <div class="d-flex flex-wrap mt-2">
                    @foreach (var tech in Technologies)
                    {
                        <div class="badge tech-badge me-2 mb-2">@tech</div>
                    }
                </div>
            </div>

        </div>
        
        <div class="profile-bio">
            <p class="description-text blurb-description">
                @string.Join(" ", resumeLines)
            </p>
            
        </div>
        


    </div>
</section>


@code {

    string Name = "Zack LaCanna";
    string Location = "Scottsdale, Arizona";

    List<string> Technologies { get; set; } = new()
    {
        "C#", "Python", "AI", "Full-Stack", "Cloud Computing", "SaaS"
    };

    private int CalculateAge(DateTime birthDate)
    {
        var today = DateTime.Today;
        var age   = today.Year - birthDate.Year;
        if (today < birthDate.AddYears(age)) age--;
        return age;
    }

    private string GenerateAge()
    {
        return CalculateAge(DateTime.ParseExact("08-11-2001","MM-dd-yyyy",CultureInfo.InvariantCulture)).ToString();
    }

    private List<string> resumeLines = new()
    {
        "Led end-to-end development of a Blazor Web App for global driving-range stats, integrating REST APIs for remote start/stop control, member integration, and error tracking.",

        "Engineered a multi-modal sequence-to-sequence neural network in Python with TensorFlow/Keras to analyze CSV/PDF error logs, identify trends, and generate actionable recommendations.",

        "Designed and implemented a Python application using OCR and TensorFlow to automate real-time golf-ball sorting by color and brand—achieving a 500% efficiency boost.",

        "Designed and managed end-to-end AWS API Gateway, REST endpoints, and Lambda integrations to power scalable, client-specific cloud data processing.",

        "Engineered a scalable backend SaaS platform in C#, Java, and VB.NET, integrating external APIs and managing machine operations across multiple venues.",

        "Architected and deployed AWS API Gateway WebSocket APIs with Lambda and DynamoDB state management, secured via Cognito, enabling event-driven communication between Blazor frontend and backend services."
    };

}