@using System.Collections.Generic
@inject IJSRuntime JS

<section id="experience" class="py-5 section-bg" aria-label="experience">
  <div class="container">
    <h2 class="section-title align-content-start justify-content-start mb-5">My Experience</h2>
    <div class="d-flex flex-nowrap overflow-auto scroll-x-container">
      @foreach (var exp in Experiences)
      {
        <div class="netflix-card" @onclick="() => ShowDetail(exp)">
          <div class="card-img" style="background-image: url('@exp.ImageUrl');"></div>
          <div class="card-overlay">
            <p class="mb-1">@exp.Company</p>
            <h5>@exp.Role</h5>
          </div>
          <div class="card-hover-text">Click to see details</div>
        </div>
      }
    </div>
  </div>
</section>

@if (SelectedExp is not null)
{
  <div class="modal-backdrop @(ShownModel.Equals(SelectedExp.Company) ? "show" : "")" @onclick="async() => await CloseDetail()"></div>
  <div class="detail-modal @(ShownModel.Equals(SelectedExp.Company) ? "show" : "")"
       @onclick:stopPropagation>
    <div class="modal-header">
      <button class="close-btn" @onclick="async() => await CloseDetail()">×</button>
      <div class="experience-header">
        <h3>@SelectedExp.Role</h3>
        <p class="text-muted">@SelectedExp.Company • @SelectedExp.Location</p>
      </div>
    </div>
    <div class="blurb-scroll">
      <div class="blurb-content mt-4">
        <div class="blurb-container">
          <p class="blurb-header mb-3">
            @SelectedExp.Dates
          </p>
          <p class="blurb-description mt-3 mb-5">
            @SelectedExp.Description
          </p>
          <h6 class="blurb-header">
            Technologies
          </h6>
          <div class="d-flex flex-wrap mt-2">
            @foreach (var tech in SelectedExp.Technologies)
            {
              <span class="badge tech-badge me-2 mb-2">@tech</span>
            }
          </div>
        </div>

      </div>
      @if (SelectedExp.Links.Count > 0)
      {
        <div class="mt-5">
          @foreach (var link in SelectedExp.Links)
          {
            <a href="@link.Url" target="_blank" class="btn btn-outline-dark btn-sm me-2">@link.Text</a>
          }
        </div>
      }

      @if (SelectedExp.ExampleImages.Count > 0)
      {
        <div class="mt-5 blurb-examples">
          <h6 class="blurb-header mb-3">
            Images
          </h6>
          @foreach (var each in SelectedExp.ExampleImages)
          {
            <div class="blurb-image-container">
              <img src="@each" alt=""/>
            </div>
          }
        </div>
      }
    </div>
  </div>
}

@code {
    private List<ExpModel> Experiences = new()
    {
        new ExpModel
        {
            Role = "Full-Stack Engineer",
            Company = "Range Automation Systems",
            Dates = "Jan 2024 – Present",
            Location = "Scottsdale, AZ",
            ImageUrl = "cards/ras-card.png",
            Description = "I’ve led the full-stack development of automated golf systems " +
                          "by building a Blazor web app for global tracking and remote control of " +
                          "equipment, architecting AWS REST and WebSocket APIs (with Lambda, DynamoDB, " +
                          "Cognito, and CloudWatch) for scalable, event-driven operations, and engineering " +
                          "back-end SaaS services in C#, Java, and VB.NET. On the data side, I created " +
                          "Python-based solutions—ranging from a TensorFlow/Keras seq-to-seq model that analyzes " +
                          "error logs and generates recommendations to an OCR/TensorFlow application that " +
                          "automates golf-ball sorting, boosting throughput fivefold. Together, these efforts " +
                          "integrate cloud architecture, machine learning, and real-time automation " +
                          "to deliver high-performance, client-customized solutions.",
            Technologies = new()
            {
              "Blazor",
              "Python",
              "TensorFlow",
              "OCR",
              "REST API",
              "AWS API Gateway",
              "AWS Lambda",
              "DynamoDB",
              "Amazon Cognito",
              "OAuth",
              "CloudWatch",
              "WebSockets",
              "C#",
              "VB.NET",
              "JavaScript",
              "ASP.NET",
              "Git"
            },
            Links = new()
            {
              new Link { Text = "Website", Url = "https://web.rangesystems.com" } 
            },
            ExampleImages = new List<string>() {
              "cards/images/ras-bays.png",
              "cards/images/ras-dashboard.png",
              "cards/images/ras-login.png"
            }
        },
        new ExpModel
        {
            Role = "Software Engineer",
            Company = "Circle.ooo",
            Dates = "May 2023 – Dec 2023",
            Location = "Tempe, AZ",
            ImageUrl = "cards/circle-card.png",
            Description = "I led the development of a key section of the " +
                          "Circle cross-platform mobile app—building a " +
                          "precise phone-to-phone distance detection algorithm, " +
                          "streamlining the profile-sharing workflow to boost throughput " +
                          "by 300%, and crafting new Share menus in Flutter/Dart to " +
                          "enhance the UI for seamless wireless data exchange.",
            Technologies = new()
            {
              "Flutter",
              "Dart",
              "NFC",
              "Accelerometer",
              "Bluetooth Low Energy",
              "Android Nearby Connections",
              "IOS Multipeer Connectivity",
              "Git"
            },
            Links = new()
            {
              new Link { Text = "Website", Url = "https://circle.ooo" } 
            },
            ExampleImages = new List<string>() {
              "cards/images/circle-dash.png",
              "cards/images/circle-ui.png",
              "cards/images/circle-vouch.png"
            }
        },
        new ExpModel
        {
          Role = "Software Engineer",
          Company = "Infosys",
          Dates = "May 2023 – Aug 2023",
          Location = "Phoenix, AZ",
          ImageUrl = "cards/infosys-card.png",
          Description = "fill in",
          Technologies = new()
          {
            "Python",
            "Pandas",
            "Polars",
            "Beautiful Soup",
            "Selectolax",
            "MAPI",
            "Tkinter",
            "Argparse",
            "PyInstaller",
            "Py2app",
            "Git"
          },
          Links = new()
          {
            new Link { Text = "Website", Url = "https://circle.ooo" } 
          },
          ExampleImages = new List<string>() {
            "cards/images/circle-dash.png",
            "cards/images/circle-ui.png",
            "cards/images/circle-vouch.png"
          }
        }
        // add other experiences here
    };

    private ExpModel SelectedExp;
    private double ClickX, ClickY;
    private string ShownModel = string.Empty;

    async Task ShowDetail(ExpModel exp)
    {
      SelectedExp = exp;
      ShownModel = SelectedExp.Company;
      await InvokeAsync(StateHasChanged);
    }

    async Task CloseDetail()
    {
        ShownModel = string.Empty;
        await Task.Delay(150);
        SelectedExp = null;
    }

    private class ExpModel
    {
        public string Role { get; set; }
        public string Company { get; set; }
        public string Dates { get; set; }
        public string Location { get; set; }
        public string ImageUrl { get; set; }
        public string Description { get; set; }
        public List<string> Technologies { get; set; }
        public List<Link> Links { get; set; }
        public List<string> ExampleImages { get; set; }
    }

    private class Link
    {
        public string Text { get; set; }
        public string Url { get; set; }
    }
}